.button {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
}

.button--download {
  font-size: 21px;
  color: @white;

  background-color: transparent;
}

.button--filter-post {
  color: @pink;
}

.button--filter-cancel {
  color: fade(@darkblue, 10%);
}

.button--form {
  text-transform: uppercase;
  color: @white;

  background-color: @green;
}
