.catalog {
  width: 320px;
  margin: 0 auto;

  color: @darkblue;

  background-color: @white;

  outline: 2px solid red;   //временно
}

.catalog__header {
  padding: 50px 20px;

  outline: 2px solid aqua;   //временно
}

.catalog__intro {
  margin: 0;

  text-align: center;
}

.catalog__top-photo {
  margin-bottom: 20px;
}

.catalog__photo-wrapper {
  position: relative;

  width: 320px;
  height: 137px;

  outline: 2px solid green;   //временно
}

.catalog__rating {
  position: absolute;

  display: block;
}

.catalog__text-wrapper {
  padding-top: 15px;
  padding-bottom: 19px;
  padding-left: 17px;
  padding-right: 20px;

  background-color: @lightgray;

  outline: 2px solid green;   //временно
}

.catalog__item {
  margin: 0 20px;
  margin-bottom: 20px;

  background-color: @lightgray;

  outline: 2px solid blue;   //временно
}

.catalog__picture {
  display: block;
  width: 280px;
  height: 180px;

  outline: 2px solid green;   //временно
}

.catalog__autor {
  margin: 0;

  line-height: 24px;
  font-weight: bold;
  font-style: normal;
}

.catalog__autor-time {
  margin: 0;

  font-size: 12px;
  line-height: 24px;
  font-weight: lighter;
  text-transform: uppercase;
}

.catalog__comment {
  margin: 0;
}

.catalog__text {
  margin: 0;
  margin-bottom: 3px;

  line-height: 24px;
}

.catalog__like-text {
  margin: 0;

  font-size: 12px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: @pink;
}

@media (min-width: @tablet-width) {
  .catalog {
    width: 660px;
  }

  .catalog__header {
    padding: 0 80px;
    padding-top: 100px;
    padding-bottom: 70px;
  }

  .catalog__intro br {
    display: none;
  }

  .catalog__top-photo {
    margin-bottom: 50px;
  }

  .catalog__photo-wrapper {
    width: 660px;
    height: 509px;
  }

  .catalog__text-wrapper {
    margin: 0;
    padding: 0 27px;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .catalog__text-wrapper--alteration {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    padding: 25px 27px;
  }

  .catalog__autor--alteration {
    margin-right: auto;
  }

  .catalog__comment--alteration {
    order: 1;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
  }

  .catalog__item {
    width: 300px;
    min-height: 455px;   //временно?
    margin: 0;
    margin-bottom: 20px;
  }

  .catalog__picture {
    width: 300px;
    height: 300px;
  }

  .catalog__like {
    display: flex;
  }

  .catalog__like-text {
    order: -1;
    margin-right: auto;
    padding-right: 17px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    width: auto;
    margin: 0;
  }

  .catalog__wrapper {
    widows: 960px;
    margin: 0 auto;
  }

  .catalog__header {
    min-height: 70px;  //временно
  }

  .catalog__intro br {
    display: block;
  }

  .catalog__photo-wrapper {
    width: auto;
    height: 506px;
  }

  .catalog__text-wrapper--alteration {
    width: 886px;
    margin: 0 auto;
    padding-bottom: 20px;

    outline: 2px solid aqua;     //временно
  }

  .catalog__list {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .catalog__item {
    min-height: 555px;
    margin-bottom: 54px;
  }

  .catalog__picture {
    width: 300px;
    height: 400px;
  }
}
