.catalog {
  width: 320px;
  margin: 0 auto;

  color: @darkblue;

  background-color: @white;
}

.catalog__header {
  padding: 45px 20px;
  padding-bottom: 50px;
}

.catalog__intro {
  margin: 0;

  text-align: center;
}

.catalog__top-photo {
  margin-bottom: 20px;
}

.catalog__photo-wrapper {
  position: relative;

  width: 320px;
  height: 137px;
  margin: 0;
}

.catalog__rating {
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 2;

  display: block;

  width: 140px;
  height: 30px;
  margin: 0;
  padding-top: 6px;

  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: @white;

  background-color: @pink;
}

.catalog__text-wrapper {
  padding-top: 15px;
  padding-bottom: 19px;
  padding-left: 17px;
  padding-right: 20px;

  background-color: @lightgray;
}

.catalog__top-photo .catalog__text-wrapper {
  margin: 0 20px;
}

.catalog__item {
  margin: 0 20px;
  margin-bottom: 20px;

  background-color: @lightgray;
}

.catalog__picture {
  display: block;
  width: 280px;
  height: 180px;
  margin: 0;
}

.catalog__autor {
  margin: 0;

  line-height: 24px;
  font-weight: bold;
  font-style: normal;
}

.catalog__autor-time {
  margin: 0;

  font-size: 12px;
  line-height: 24px;
  font-weight: lighter;
  text-transform: uppercase;
}

.catalog__comment {
  margin: 0;
  padding: 0;
}

.catalog__text {
  margin: 0;
  margin-bottom: 3px;

  line-height: 24px;
}

.catalog__like-button {
  margin: 0;
  margin-right: 17px;

  width: 13px;
  height: 12px;

  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 13px auto;
  background-color: @lightgray;

  border: none;
}

.catalog__like-text {
  margin: 0;

  font-size: 12px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: @pink;
}

@media (max-width: @mobile-width-only) {
  .catalog__item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: @tablet-width) {
  .catalog {
    width: 660px;
  }

  .catalog__header {
    padding: 0 80px;
    padding-top: 90px;
    padding-bottom: 75px;
  }

  .catalog__intro {
    font-size: 18px;
    line-height: 30px;
  }

  .catalog__intro br {
    display: none;
  }

  .catalog__photo-wrapper {
    width: 660px;
    height: 509px;
  }

  .catalog__picture-1 {
    height: 100%;
  }

  .catalog__rating {
    top: 57px;
  }

  .catalog__top-photo {
    margin-bottom: 50px;

    .catalog__text-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 25px 27px;
    }

    .catalog__autor {
      margin-right: auto;
    }

    .catalog__comment {
      order: 1;
    }
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
  }

  .catalog__item {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-height: 455px;
    margin: 0;
    margin-bottom: 20px;

    .catalog__text-wrapper {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 0 27px;
      padding-top: 23px;
      padding-bottom: 22px;
    }
  }

  .catalog__picture {
    width: 300px;
    height: 300px;
  }

  .catalog__like {
    display: flex;
    align-items: center;
    margin-top: auto;
  }

  .catalog__like-button {
    margin-right: 0;
  }

  .catalog__like-text {
    order: -1;
    margin-right: auto;
    padding-right: 22px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    width: auto;
    margin: 0;
  }

  .catalog__header {
    padding: 0 10px;
    padding-top: 95px;
    padding-bottom: 87px;
  }

  .catalog__intro br {
    display: block;
  }

  .catalog__photo-wrapper {
    width: auto;
    height: 506px;
  }

  .catalog__photo-wrapper a {
    position: relative;

    display: block;
    max-width: 1200px;
    min-width: 960px;
    height: 506px;
    margin: 0 auto;

    overflow: hidden;
  }

  .catalog__picture-1 {
    min-width: 960px;

    object-fit: cover;
  }

  .catalog__rating {
    top: 54px;
    right: 10px;
  }

  .catalog__top-photo .catalog__text-wrapper {
    width: 880px;
    margin: 0 auto;
    padding: 0 30px;
    padding-top: 25px;
    padding-bottom: 20px;
  }

  .catalog__wrapper {
    width: 960px;
    margin: 0 auto;
  }

  .catalog__list {
    justify-content: flex-start;
    padding: 0 10px;
  }

  .catalog__item {
    min-height: 555px;
    margin-right: 20px;
    margin-bottom: 54px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .catalog__picture {
    width: 300px;
    height: 400px;
  }
}
