.download {
  min-height: 271px; //временно
  padding: 0 20px;

  color: @white;

  background-color: @darkblue;

  outline: 2px solid red;
}

.download__list {
  .reset-list;
}

.download__desc {
  margin: 0;

  line-height: 24px;
  font-weight: lighter;
  text-align: center;
}
