.download {
  margin-top: 462px;
  padding: 0 20px;
  padding-top: 28px;
  padding-bottom: 30px;

  color: @white;

  background-color: transparent;
}

.download__button {
  width: 274px;
  margin-bottom: 32px;
}

.download__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 210px;
  .reset-list;
  margin: 0 auto;
  margin-bottom: 25px;
}

.download__link {
  display: block;
  width: 47px;
  height: 57px;

  background-color: inherit;
}

.download__link--apple {
  background-image: url("../img/logo-apple.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
}

.download__link--android {
  background-image: url("../img/logo-android.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
}

.download__link--microsoft {
  background-image: url("../img/logo-microsoft.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
}

.download__desc {
  margin: 0;

  line-height: 24px;
  font-weight: lighter;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .download {
    display: block;
    width: 300px;
    margin: 0;
    padding: 0;
  }

  .download__button {
    width: 294px;
    margin-bottom: 46px;
  }

  .download__list {
    margin-bottom: 40px;
  }

  .download__desc {
    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .download__button {
    margin-bottom: 67px;
  }

  .download__list {
    margin-bottom: 55px;
  }
}
