.features {
  width: 320px;
  margin: 0 auto;
  margin-bottom: -30px;

  color: @darkblue;

  background-color: @white;

  outline: 2px solid red;
}

.features__header {
  min-height: 140px; //временно
  padding: 40px 20px;
}

.features__intro {
  margin: 0;

  font-size: 24px;
  font-weight: lighter;
  text-align: center;
}

.features__wrapper {
  background-color: @lightgray;
}

.features__list {
  .reset-list;

  padding-top: 80px;
}

.features__item {
  display: flex;
  flex-direction: column;

  outline: 2px solid aqua; //временно
}

.features__photo-item {
  order: 1;
  width: 157px;
  height: 320px;
  margin: 0 auto;

  outline: 2px solid aqua; //временно
}

.features__text {
  padding: 0 20px;
  padding-bottom: 30px;
}

.features__photo-item--visibility {
  display: none;
}

.features__title {
  margin: 0;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: @black;
  text-align: center;
}

.features__desc {
  margin: 0;

  line-height: 24px;
  text-align: center;
}

.features__bonus {
  display: none;
}

@media (min-width: @tablet-width) {
  .features {
    width: 660px;
    margin-bottom: 0;
  }

  .features__header {
    min-height: 98px;  //временно
    padding: 70px 20px;
  }

  .features__item {
    flex-direction: row;
  }

  .features__photo-item {
    order: 0;
    width: 268px;
    height: 481px;
    margin-right: 45px;
    margin-top: 7px;
  }

  .features__text {
    padding-left: 330px;
  }

  .features__title {
    text-align: left;
  }

  .features__desc {
    text-align: left;
    padding: 0;
  }

  .features__bonus {
    display: block;
    padding: 0 20px;
    padding-top: 58px;
    padding-bottom: 52px;

    background-color: @white;

    outline: 2px solid green; //временно
  }

  .features__bonus-wrapper {
    position: relative;

    min-height: 236px;    //временно
    padding-top: 40px;
    padding-left: 310px;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 238px;
      height: 276px;

      background-image: url("../../img/icon-timer.svg");
      background-repeat: no-repeat;
      background-position: 0 0;

      background-color: #ff0000;
    }
  }

  .features__more {
    line-height: 24px;
    text-decoration: underline;
    color: @pink;
  }
}

@media (min-width: @desktop-width) {
  .features {
    width: auto;
  }

  .features__wrapper {
    width: 960px;
    margin: 0 auto;
  }

  .features__header {
    min-height: 177px; //временно
    padding: 70px 0;

    outline: 2px solid red;
  }

  .features__column-wrapper {
    flex-direction: column;
    padding: 0;
  }

  .features__text-list {
    flex-direction: row;
    min-height: 230px;  //временно

    outline: 2px solid red;
  }

  .features__title {
    text-align: center;
  }

  .features__desc {
    text-align: center;
  }

  .features__photo-list {
    display: flex;
    justify-content: space-around;

    outline: 2px solid red;   //временно
  }

  .features__photo-item {
    width: 292px;
    height: 302px;
    margin: 0;
  }

  .features__photo-item--visibility {
    display: block;
  }

  .features__bonus {
    padding: 0;

    background-color: transparent;
  }

  .features__bonus-wrapper {
    min-height: 204px;   //временно
    padding-top: 115px;
    padding-bottom: 110px;
    padding-left: 380px;
    padding-right: 10px;

    outline: 2px solid red;  //временно
    &::before {
      top: 17px;
      left: 10px;

      width: 298px;
      height: 345px;
    }
  }
}
