.main-top {
  width: 320px;
  min-height: 237px;
  margin: 0 auto;

  color: @white;

  background-color: @darkblue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 320px auto;
}

.main-top__example-photo {
  display: flex;
  min-height: 733px;

  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-position: left 0 bottom 271px;
  background-repeat: no-repeat;
  background-size: 258px auto;
}

.main-top__title {
  margin: 0;
  padding: 0 20px;
  padding-top: 100px;
  padding-bottom: 40px;

  font-size: 24px;
  font-weight: lighter;
  text-align: center;
  color: @white;
}

.main-top__title--visibility {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-top {
    width: 620px;
    min-height: 440px;
    padding: 0 20px;

    background-size: cover;
  }

  .main-top__example-photo {
    flex-direction: column;
    justify-content: center;
    min-height: 729px;

    background-position: center bottom 0;
  }

  .main-top__title {
    padding-top: 185px;

    font-size: 50px;
  }

  .main-top__title--visibility {
    display: block;
    width: 300px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-top {
    width: 100%;
    min-height: 394px;
    padding: 0;
  }

  .main-top__example-photo {
    width: 940px;
    min-height: 853px;
    margin: 0 auto;
    padding: 0 10px;
  }
}
