.main-top {
  color: @white;

  background-color: @darkblue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;

  outline: 2px solid red;
}

.main-top__title {
  margin: 0;

  font-size: 24px;
  font-weight: lighter;
  text-align: center;
  color: @white;
}

.main-top__title--mobile {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-top__title--mobile {
    display: block;
  }
}
