.rates {
  width: 320px;
  margin: 0 auto;

  color: @darkblue;

  background-color: @lightgray;
}

.rates__wrapper {
  padding-top: 91px;
  padding-bottom: 96px;
}

.rates__table {
  border-collapse: collapse;
}

.rates__caption {
  padding: 19px 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: @white;

  background-color: @darkblue;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
}

.rates__price {
  display: block;

  font-size: 24px;
  line-height: 30px;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
  color: @white;
}

.rates__caption--hit {
  position: relative;
}

.rates__hit {
  position: absolute;
  top: 0;
  left: -2px;

  width: 74px;
  height: 73px;

  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 74px auto;
}

.rates__rating {
  position: absolute;
  top: 12px;
  left: 8px;

  display: block;

  font-size: 14px;

  transform: rotate(-45deg);
}

.rates__field {
  padding: 15px 0;
  padding-left: 23px;

  text-transform: uppercase;
  background-color: @white;
  border: 2px solid #e5e5e5;
}

.rates__option {
  display: block;
  width: 253px;
}

.rates__field--yes {
  width: 31px;
  height: 21 px;

  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  background-size: 31px auto;
}

.rates__field--no {
  width: 27px;
  height: 26 px;

  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  background-position: center right 19px;
  background-size: 27px auto;
}

@media (max-width: @mobile-width-only) {
  .rates__wrapper {
    position: relative;
  }

  .rates__field:first-child {
    display: none;
  }

  .rates__inner {
    overflow: hidden;
  }

  .rates__controls {
    position: absolute;
    bottom: 40px;
    left: 50%;

    width: 66px;
    height: 30px;
    margin-left: -33px;

    font-size: 0;
  }

  .rates__switch {
    position: relative;

    display: inline-block;
    width: 6px;
    height: 6px;
    padding: 8px;

    vertical-align: middle;

    border-radius: 50%;
    cursor: pointer;

    &::after {
      content: "";

      position: absolute;
      top: 8px;
      left: 8px;
      z-index: 1;

      width: 6px;
      height: 6px;

      background-color: fade(@darkblue, 30%);
      border-radius: 50%;
    }

    &:hover::after {
      background-color: fade(@darkblue, 60%);
    }

    &:active::after {
      background-color: fade(@darkblue, 10%);
    }
  }

  .rates__rate-base:checked ~ .rates__inner .rates__table {
    transform: translate(0);
  }

  .rates__rate-standard:checked ~ .rates__inner .rates__table {
    transform: translate(-257px);
  }

  .rates__rate-unlim:checked ~ .rates__inner .rates__table {
    transform: translate(-514px);
  }

  .rates__rate-base:checked ~ .rates__controls .rates__switch--base::before,
  .rates__rate-standard:checked ~ .rates__controls .rates__switch--standard::before,
  .rates__rate-unlim:checked ~ .rates__controls .rates__switch--unlim::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;

    width: 6px;
    height: 6px;

    background-color: @white;
    border: 3px solid @darkblue;
    border-radius: 50%;
  }
}

@media (min-width: @tablet-width) {
  .rates {
    width: 620px;
    padding: 0 20px;
  }

  .rates__wrapper {
    padding-top: 87px;
    padding-bottom: 67px;
  }

  .rates__controls {
    display: none;
  }

  .rates__caption {
    padding-top: 11px;
    padding-bottom: 7px;

    font-size: 16px;
  }

  .rates__price {
    font-size: 18px;
  }

  .rates__hit {
    left: 0;

    width: 61px;
    height: 61px;

    background-size: 61px auto;
  }

  .rates__rating {
    top: 5px;
  }

  .rates__field {
    width: 141px;
    padding: 8px 0;
    padding-left: 15px;

    text-transform: none;
  }

  .rates__option {
    display: none;
  }

  .rates__field--yes {
    background-position: center;
  }

  .rates__field--no {
    background-position: center;
  }
}

@media (min-width: @desktop-width) {
  .rates {
    width: auto;
    margin: 0;
    padding: 0;
  }

  .rates__wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    padding-top: 150px;
    padding-bottom: 93px;
  }

  .rates__caption {
    padding-top: 15px;
    padding-bottom: 22px;

    font-size: 18px;
  }

  .rates__price {
    font-size: 24px;
  }

  .rates__hit {
    left: 0;

    width: 74px;
    height: 73px;

    background-size: 74px auto;
  }

  .rates__rating {
    top: 12px;
  }

  .rates__field {
    width: 214px;
    padding: 15px 0;
    padding-left: 23px;

    font-size: 18px;
  }
}
