.reviews {
  position: relative;

  width: 320px;
  margin: 0 auto;

  color: @darkblue;

  background-color: @white;

  &::after {
    content: "";

    position: absolute;

    width: 100%;
    padding-top: 8%;

    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100% auto;
    background-color: @lightgray;
  }
}

.reviews__wrapper {
  position: relative;

  height: 235px;
  padding: 0 25px;
  padding-top: 42px;
  padding-bottom: 75px;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.reviews__autor-name {
  display: block;
  margin-bottom: 12px;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  color: @black;
}

.reviews__autor-desc {
  margin: 0;

  text-align: center;
}

.reviews__autor-desc--visibility {
  display: none;
}

.reviews__text {
  margin: 0;

  text-align: center;
}

.reviews__item--visibility {
  display: none;
}

.reviews__controls-arrow {
  display: none;
}

.reviews__controls {
  position: absolute;
  top: 290px;
  left: 50%;

  width: 66px;
  height: 30px;
  margin-left: -33px;

  font-size: 0;
}

.reviews__switch {
  position: relative;

  display: inline-block;
  width: 6px;
  height: 6px;
  padding: 8px;

  vertical-align: middle;

  border-radius: 50%;
  cursor: pointer;

  &::after {
    content: "";

    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;

    width: 6px;
    height: 6px;

    background-color: fade(@darkblue, 30%);
    border-radius: 50%;
  }

  &:hover::after {
    background-color: fade(@darkblue, 60%);
  }

  &:active::after {
    background-color: fade(@darkblue, 10%);
  }
}

.reviews__review-first:checked ~ .reviews__list .reviews__item:nth-child(1) {
  display: flex;
}

.reviews__review-second:checked ~ .reviews__list .reviews__item:nth-child(2) {
  display: flex;
}

.reviews__review-third:checked ~ .reviews__list .reviews__item:nth-child(3) {
  display: flex;
}

.reviews__review-first:checked ~ .reviews__controls .reviews__switch--review-first::before,
.reviews__review-second:checked ~ .reviews__controls .reviews__switch--review-second::before,
.reviews__review-third:checked ~ .reviews__controls .reviews__switch--review-third::before {
  content: "";

  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;

  width: 6px;
  height: 6px;

  background-color: @white;
  border: 3px solid @darkblue;
  border-radius: 50%;
}

@media (min-width: @tablet-width) {
  .reviews {
    width: 660px;
  }

  .reviews__wrapper {
    height: 185px;
    padding: 0 20px;
    padding-top: 45px;
    padding-bottom: 70px;
  }

  .reviews__autor-name {
    margin-bottom: 0;

    font-size: 20px;
    line-height: 30px;
  }

  .reviews__autor-desc--visibility {
    display: block;
  }

  .reviews__text {
    order: -1;
    margin-bottom: 35px;

    font-size: 18px;
    line-height: 30px;
  }

  .reviews__controls {
    top: 260px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    width: auto;
    margin: 0;

    &::after {
      padding-top: 0;
      height: 85px;

      background-size: 100% 85px;
    }
  }

  .reviews__wrapper {
    width: 684px;
    height: 187px;
    margin: 0 auto;
    padding: 0 138px;
    padding-top: 185px;
    padding-bottom: 35px;

    &::before {
      content: "";

      position: absolute;
      top: 72px;
      left: 50%;

      width: 79px;
      height: 64px;
      margin-left: -40px;

      background-image: url("../img/icon-quotes.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 79px auto;
    }
  }

  .reviews__autor-name {
    margin-bottom: 2px;

    font-size: 24px;
  }

  .reviews__autor-desc {
    font-size: 18px;
  }

  .reviews__controls {
    display: none;
  }

  .reviews__controls-arrow {
    display: block;
    width: 0;
    height: 0;

    font-size: 0;
  }

  .reviews__arrow {
    opacity: 0.3;

    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }

  .reviews__review-first:checked ~ .reviews__controls-arrow .reviews__arrow--review-third,
  .reviews__review-second:checked ~ .reviews__controls-arrow .reviews__arrow--review-first,
  .reviews__review-third:checked ~ .reviews__controls-arrow .reviews__arrow--review-second {
    position: absolute;
    top: 213px;
    left: -20px;

    display: block;
    width: 22px;
    height: 42px;
    margin-left: 30px;

    background-image: url("../img/icon-review-arrow-left.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 22px auto;
  }

  .reviews__review-first:checked ~ .reviews__controls-arrow .reviews__arrow--review-second,
  .reviews__review-second:checked ~ .reviews__controls-arrow .reviews__arrow--review-third,
  .reviews__review-third:checked ~ .reviews__controls-arrow .reviews__arrow--review-first {
    position: absolute;
    top: 213px;
    right: -20px;

    display: block;
    width: 22px;
    height: 42px;
    margin-right: 30px;

    background-image: url("../img/icon-review-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 22px auto;
  }
}
